.jumbotron {
  padding-top: 6rem;
  background-color: #42f2f5;
}
#projects {
  background-color: #42f2f5;
}

#about {
  background-color: #2f3030;
}

#contact {
  background-color: #2f3030;
}

section {
  padding-top: 4rem;
}
